.my-btn-primary {
    color: #fff;
    border-radius: 5px;
    padding: 1rem 1.25rem;
    transition: all 0.3s ease-in-out;
    background: #000;

    &:hover {
        transform: translateY(-2px);
        background: rgb(35, 35, 35);
        color: #fff;
    }
}

// === NAVBAR ===
nav.navbar#my-navbar {
    a.navbar-brand {
        font-weight: 900;
        font-size: 1.5rem;
    }

    ul.navbar-nav {
        li.nav-item {
            a.nav-link {
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #000;
                }
            }
            a.nav-link.active {
                font-weight: 600;
            }

            a.nav-link.login-btn {
                color: #fff;
                border-radius: 5px;
                padding: 0.5rem 1.25rem;
                transition: all 0.3s ease-in-out;
                background: #000;

                &:hover {
                    transform: translateY(-2px);
                    background: rgb(35, 35, 35);
                }
            }
        }
    }
}

// === LOGIN ===
section.login#login {
    padding-top: 5rem;
    padding-bottom: 5rem;

    form {
        h1.form-title {
            font-weight: 900;
            span {
                display: block;
                font-weight: 400;
                font-size: 1.05rem;
            }
        }

        input {
            border: 1px solid rgb(214, 214, 214);
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            transition: all 0.3s ease-in-out;

            &:focus {
                border: 1px solid rgb(175, 175, 175);
                box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
            }
        }
    }
}

// === FOOTER ===

// === HOME ===
#home.home {
    padding-top: 6rem;
    padding-bottom: 5rem;
    section.hero#hero {
        .container {
            background: #f4f6f5;
            border-radius: 10px;
            padding: 2.5rem;

            h1.hero-title {
                font-size: 3rem;
                font-weight: 900;
            }
        }
    }
}
